@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

a {
  color: #84309c;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  color: #e7e8e8;
  background: #070707;
}

.bg-dark2 {
  background-color: #280843; /* Replace 'yourCustomColor' with your desired color value */
}

.bg-dark3 {
  background-color: #8f29e4; /* Replace 'yourCustomColor' with your desired color value */
}

.json-input {
  font-family: 'Courier New', monospace; /* Use a monospaced font for even spacing */
  color: #008000; /* Green for property names */
}

.json-string {
  color: #d14; /* Red for string values */
}

.json-number {
  color: #0086b3; /* Blue for numeric values */
}

.json-boolean {
  color: #800080; /* Purple for boolean values */
}

.json-null {
  color: #808080; /* Gray for null values */
}

.container_editor_area {
  tab-size: 4ch;
  max-height: 400px;
  overflow: auto;
}

.container__editor {
  font-size: 12px;
  font-variant-ligatures: common-ligatures;
  background-color: rgb(73, 49, 121);
  border-radius: 3px;
}

.container__editor textarea {
  outline: 0;
}

.form-floating > .form-control:not(:-moz-placeholder-shown) ~ label {
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
  background-color: #fff;
  height: auto;
  padding: 0px;
  padding: 0px 0px 0px 10px;
  width: 100%;
  transform: scale(0.982) translateY(0.045rem) translateX(0.1rem);
  border-radius: 5px 0 0 0;
}
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  opacity: 1;
  height: auto;
  padding: 0px 0px 0px 10px;
  width: 100%;
  transform: scale(0.982) translateY(0.045rem) translateX(0.1rem);
  border-radius: 5px 0 0 0;
}
.form-floating > .form-control:-webkit-autofill ~ label {
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
  background-color: #fff;
  height: auto;
  padding: 0px;
  padding: 0px 0px 0px 10px;
  width: 100%;
  transform: scale(0.982) translateY(0.045rem) translateX(0.1rem);
  border-radius: 5px 0 0 0;
}